meta(property='og:title', content='Rotten Trumpatoes')
meta(property='og:description', content=`A movie that's doing about as well as the president.`)
meta(property='og:type', content='website')
meta(property='og:url', content= `${process.env.SITE_URL}`)
meta(property='og:image', content=`${process.env.SITE_URL}/img/rt.png`)
meta(property='og:image:secure_url', content=`${process.env.SITE_URL}/img/rt.png`)
meta(property='fb:app_id', content=`${process.env.FB_APP_ID}`)
meta(name='twitter:card' content='summary')
meta(name='twitter:title' content='Rotten Trumpatoes')
meta(name='twitter:description' content=`A movie that's doing about as well as the president.`)
meta(name='twitter:image' content=`${process.env.SITE_URL}/img/rt.png`)
