meta(property='og:title', content='Rotten Trumpatoes')
meta(property='og:description', content=`Donald Trump currently has an approval rating of ${rating}%. That's about the same as ${movie.title} (${movie.year}) on Rotten Tomatoes.`)
meta(property='og:type', content='website')
meta(property='og:url', content= 'https://rottentrumpatoes.com')
meta(property='og:image', content=`${movie.posterUrl}`)
meta(property='og:image:secure_url', content=`${movie.posterUrl}`)
meta(name='twitter:card' content='summary')
meta(name='twitter:title' content='Rotten Trumpatoes')
meta(name='twitter:description' content=`Donald Trump currently has an approval rating of ${rating}%. That's about the same as ${movie.title} (${movie.year}) on Rotten Tomatoes.`)
meta(name='twitter:image' content=`${movie.posterUrl}`)
