extends layout.pug

block content
  div.main-content.row.nopacity
    section.column.one-third.section-approval
      p#approval-copy.section-content Donald Trump currently has an approval rating of 
        span.rating= `${rating}%.`
          a.boxless.rating-link(href="https://projects.fivethirtyeight.com/trump-approval-ratings/" target="_blank") *
    section.column.one-third.section-poster
      img#poster.section-content(src=movie.posterUrl)
    section.column.one-third.section-movie
      p.section-content That's about the same as #[a(href=`${movie.rtUrl}` target="_blank")= `${movie.title} (${movie.year})`] on Rotten Tomatoes.
  nav.links-wrap.vh
    ul.nl.nav-links
      li#share-link(data-section-link="share")
        a(href="#") Share
      li#what-link(data-section-link="what")
        a(href="#") What
      li#who-link(data-section-link="who")
        a(href="#") Who
    ul.nl.nav-sections.vh
      li#share-link(data-section="share")
        div.section.share-section
          Share
      li#what-link(data-section="what")
        div.section.what-section
          p
            RottenTrumpatoes was inspired by #[a(href="https://twitter.com/PJVogt/status/895824447113842689") this tweet] by #[a(href="https://twitter.com/PJVogt") PJ Vogt]
      li#who-link(data-section="who")
        div.section.who-section
          p
            RottenTrumpatoes was made by #[a(href="") Preston Richey] and #[a(href="") Tanya Karpitskiy]

block footer_scripts
  script(src='js/lib/jquery.min.js')
  script(src='js/main.bundle.js')
