extends layout.pug

block content
  nav.links-wrap
    ul.nl.nav-links
      li#share-link(data-section-link="share")
        //- object.icon.icon-share(type='image/svg+xml' data='/img/icon/share.svg')
        //- img.icon.icon-share(src='/img/icon/share.svg' alt='Share')
        include icons/share.pug
      li#what-link(data-section-link="what")
        //- img.icon.icon-what(src='/img/icon/what.svg' alt='What?')
        include icons/what.pug
      li#who-link(data-section-link="who")
        //- img.icon.icon-who(src='/img/icon/who.svg' alt='Who?')
        include icons/who.pug
    ul.nl.nav-sections
      li#share-section(data-section="share")
        div.section.column.one-third
          Share
      li#what-section(data-section="what")
        div.section.column.one-half
          p.section-content This stupid site was inspired #[br ] by #[a(href="https://twitter.com/PJVogt/status/895824447113842689") this tweet] from #[a(href="https://twitter.com/PJVogt") PJ Vogt]
          //- img.section-close(src='/img/icon/close.svg')
          include icons/close.pug
      li#who-section(data-section="who")
        div.section.column.one-half
          p.section-content This site was made by #[a(href="") Preston Richey]#[br ] and designed by #[a(href="") Tanya Karpitskiy]
          //- img.section-close(src='/img/icon/close.svg')
          include icons/close.pug
  div.main-content.row.nopacity
    section.column.one-third.section-approval
      p#approval-copy.section-content Donald Trump currently has an approval rating of 
        span.rating= `${rating}%.`
          a.boxless.rating-link(href="https://projects.fivethirtyeight.com/trump-approval-ratings/" target="_blank") *
    section.column.one-third.section-poster
      img#poster.section-content(src=movie.posterUrl)
    section.column.one-third.section-movie
      p.section-content That's about the same as #[a(href=`${movie.rtUrl}` target="_blank")= `${movie.title} (${movie.year})`] on Rotten Tomatoes.

block footer_scripts
  script(src='js/lib/jquery.min.js')
  script(src='js/main.bundle.js')
